<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/client.js"></script>

    <link rel="icon" href="https://www.clipartmax.com/png/small/203-2035820_123-icon-numbers-icon.png">
    <title>
        {{title}}
    </title>
</head>

<body>
    {{>header}}

    <div class="container">
        <div class="col-md-9 forecast-report">
            <p>{{message}}</p>
        </div>
    </div>

    {{>footer}}
</body>

</html>